:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}


body {
  margin: 0;
  place-items: center;
}